<div class="advantages">
    <div class="advantages__container">
        <div class="advantages__text">
            Свежие десерты из натуральных ингредиентов
        </div>
        <div class="advantages__text">
            Подробное описание десертов: состав, калорийность и БЖУ
        </div>
        <div class="advantages__text">
            Подарочная упаковка: приятно дарить, удобно носить
        </div>
        <div class="advantages__text">
            Удобно кушать в любом месте: один стаканчик для одного человека
        </div>
    </div>
</div>