<div class="collage">
    <div class="collage__image">
        <img
            class="collage__img"
            src="{{ imageLink uuid }}"
            alt="{{ name }}"
        />
    </div>
    <div class="collage__oval collage__oval_orange"></div>
    <div class="collage__oval collage__oval_red"></div>
</div>
