<div class="collage">
    <div class="collage__image">
        <img
            class="collage__img"
            src="{{ imageLink uuid }}"
            alt="{{ name }}"
        />
    </div>
    <img
        src="{{ manifest 'assets/oval_orange.svg' }}"
        class="collage__oval collage__oval_orange"
    />
    <img
        src="{{ manifest 'assets/oval_red.svg' }}"
        class="collage__oval collage__oval_red"
    />
</div>
