<div class="credits">
    <div class="credits__container">
        <div class="credits__list">
            <div class="credits__text">Смирнова Виктория</div>
            <div class="credits__text">Режим НО: НПД</div>
            <div class="credits__text">ИНН: 26262683760</div>
        </div>
        <a class="credits__question" href="{{ waLink 'Здравствуйте! Хочу задать вопрос: ' }}" target="_blank">
            Задать вопрос
        </a>
    </div>
</div>