<div class="footer">
    {{> personal instagram=instagram }}

    <div class="footer__reviews">
        {{> reviews title='Отзывы покупателей' reviews=reviews }}
    </div>

    {{> information isMainPage=isMainPage }}

    {{> credits }}
</div>
