<div id="information" class="information">
    <div class="information__background" style="background-image: url({{ manifest 'assets/background.webp' }});"></div>
    <div class="information__container">
        <div class="information__description">
            <h2 class="information__title">
                Доставка и оплата
            </h2>
            <div class="information__text">
                <p class="information__paragraph">
                    В пределах города Пятигорск стоимость доставки фиксированная и составляет 150 рублей. Доставка осуществляется в промежуток времени между 09:00 и 11:00 часов на следующий день после получения оплаты заказа.
                </p>
                <p class="information__paragraph">
                    Для оформления заказа необходимо нажать кнопку “Заказать”. В появившемся окне подтверждения заказа необходимо проверить детали заказа и нажать кнопку “Отправить заказ”. После нажатия на кнопку вы будете перенаправлены в приложение мессенджера Whatsapp для продолжения оформления заказа.
                </p>
                <p class="information__paragraph">
                    После согласования заказа вы получите ссылку на оплату через сервис YooMoney (прежнее название Яндекс.Деньги), где сможете выбрать удобный способ оплаты. В течение 1-2 дней после оплаты вы получите ссылку на чек. После оплаты вы получите сообщение об успешной оплате и статусе вашего заказа
                </p>
            </div>
            <a class="information__link" href="/#catalog" title="Перейти в каталог десертов">
                Перейти в каталог
            </a>
        </div>
        <img
            src="{{ manifest 'assets/information.webp' }}"
            class="information__image"
            alt="Доставка и оплата"
        />
    </div>
</div>