<div id="template_parameters" style="display: none;">
    <div class="parameters">
        <h5 class="parameters__title">
            Пищевая ценность (на 100 г):
        </h5>
        <div class="parameters__list">
            <div class="parameters__label">
                Белки
            </div>
            <div class="parameters__label">
                {{ dessert.protein }} г
            </div>
            <div class="parameters__label">
                Жиры
            </div>
            <div class="parameters__label">
                {{ dessert.fats }} г
            </div>
            <div class="parameters__label">
                Углеводы
            </div>
            <div class="parameters__label">
                {{ dessert.carbohydrates }} г
            </div>
            <div class="parameters__label">
                Калорийность
            </div>
            <div class="parameters__label">
                {{ dessert.calories }} г
            </div>
        </div>
    </div>
</div>
