<div id="tooltipContent_price" style="display: none;">
    <div class="tooltipPrice">
        В указанную стоимость входит {{ dessert.quantity }} десерта "{{ dessert.name }}", а также коробка и {{ dessert.quantity }} ложки
    </div>
</div>