
// COLORS
$color-white: #FFFFFF;
$color-gray: #EDF6F6;
$color-black: #050505;
$color-red: #F73D4E;
$color-orange: #FBB041;


// BORDER
$border-radius: 8px;


// BREAKPOINTS
$breakpoint-xs: 300px;
$breakpoint-sm: 546px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;
$breakpoint-xxxl: 1840px;
