.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @include backgroundGradient;

    &__container {
        @include container;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    &__text {
        padding-left: 20px;

        @include fontTitle;
        font-size: 1.4285em;
        line-height: 1.8em;

        color: $color-white;
    }
}
