* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;

    @include fontText;
    font-size: 14px;
    line-height: 1.5;
}

svg {
    fill: currentColor;
}

label {
    display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}
