.catalog {
    @include container;
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        @include fontTitle;
        display: block;
        margin: 0;
        margin-bottom: 60px;
        font-size: 3em;
        line-height: 1;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }
}
