@include responsive($max: $breakpoint-sm) {
    .catalog {
        &__list {
            grid-template-columns: 100%;
        }

        &__title {
            text-align: center;
            line-height: 1.5;
        }
    }    
}



@include responsive($min: $breakpoint-sm) {
    .catalog {
        &__title {
            line-height: 1;
        }
    }    
}



@include responsive($min: $breakpoint-sm, $max: $breakpoint-md) {
    .catalog {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }    
}



@include responsive($min: $breakpoint-md, $max: $breakpoint-xl) {
    .catalog {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }    
}



@include responsive($min: $breakpoint-xl) {
    .catalog {
        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }    
}



.catalog {
    @include container;
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        @include fontTitle;
        display: block;
        margin: 0;
        margin-bottom: 60px;
        font-size: 3em;
    }

    &__list {
        display: grid;
        gap: 30px;
    }
}
