.collage {
    max-width: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 30px;

    &__image {
        position: relative;
        z-index: 10;
        margin-bottom: 40px;
    }

    &__img {
        max-width: 336px;
        max-height: 404px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(-10deg);
    }

    &__oval {
        max-width: 382px;
        width: 100%;
        height: 284px;
        position: absolute;
        bottom: 0px;

        &_orange {
            z-index: 5;
            bottom: 30px;
        }

        &_red {
            z-index: 1;
            width: 90%;
        }
    }
}

.bounce__image {
    animation-name: bounce__image;
    animation-timing-function: ease;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.bounce__orange {
    animation-name: bounce__orange;
    animation-timing-function: ease;
    animation-duration: 1s;
}

.bounce__red {
    animation-name: bounce__red;
    animation-timing-function: ease;
    animation-duration: 1.1s;
}

@keyframes bounce__image {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-100px);
        opacity: 1;
    }
    50% { transform: translateY(0); }
    67% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

@keyframes bounce__orange {
    0% { transform: translateY(0); }
    30% { transform: translateY(50px); }
    50% { transform: translateY(0); }
    67% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes bounce__red {
    0% { transform: translateY(0); }
    30% { transform: translateY(100px); }
    50% { transform: translateY(0); }
    67% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}