@include responsive($max: $breakpoint-lg) {
    .information {

        &__container {
            grid-template-columns: 100%;
            align-items: start;
        }

        &__description {
            justify-items: center;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}



@include responsive($min: $breakpoint-lg) {
    .information {

        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: end;
        }

        &__description {
            justify-items: start;
            padding-top: 90px;
            padding-bottom: 90px;
        }

        &__image {
            height: 100%;
        }
    }
}



.information {
    position: relative;
    overflow: hidden;

    &__background {
        @include backgroundBlurred;
    }

    &__container {
        @include container;
        display: grid;
        column-gap: 30px;
    }

    &__description {
        align-self: center;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;
    }

    &__title {
        display: block;
        margin: 0;

        @include fontTitle();
        font-size: 3em;
    }

    &__text {
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
        row-gap: 20px;

        @include fontText();
    }

    &__paragraph {
        display: block;
        margin: 0;
    }

    &__image {
        max-width: 640px;
        max-height: 580px;
        width: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    &__link {
        @include button($color-red);
    }
}
