.main {
    position: relative;
    overflow: hidden;
    padding-top: 180px;
    padding-bottom: 210px;

    &__background {
        @include backgroundBlurred;
    }

    &__container {
        @include container;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        align-items: center;
    }

    &__collage {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

    &__image {
        position: relative;
        z-index: 10;
    }

    &__img {
        max-width: 336px;
        max-height: 364px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(-10deg);
    }

    &__oval {
        width: 382px;
        height: 284px;
        position: absolute;
        bottom: 0px;

        &::before {
            content: "";
            display: block;
            border-width: 7px;
            border-color: $color-white;
            border-style: solid;
        }

        &_orange {
            z-index: 5;

            &::before {
                transform: rotate(20deg);

                @include oval(
                    $width: 382px,
                    $height: 284px,
                    $color: $color-orange
                );
            }
        }

        &_red {
            &::before {
                transform: rotate(-10deg) translateY(30px) scale(0.96);

                @include oval(
                    $width: 382px,
                    $height: 284px,
                    $color: $color-red
                );
            }
        }
    }

    &__information {
        display: grid;
        justify-content: start;
        row-gap: 24px;
    }

    &__title {
        @include fontTitle;
        display: block;
        margin: 0;
        font-size: 3em;
    }

    &__description {
        @include fontText;
        display: block;
        margin: 0;
        font-size: 1.4285em;
    }

    &__details {
        display: flex;
        justify-content: start;
    }

    &__link {
        @include button($color-red);
    }
}

.bounce__image {
    animation-name: bounce__image;
    animation-timing-function: ease;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.bounce__orange {
    animation-name: bounce__orange;
    animation-timing-function: ease;
    animation-duration: 1s;
}

.bounce__red {
    animation-name: bounce__red;
    animation-timing-function: ease;
    animation-duration: 1.1s;
}

@keyframes bounce__image {
    0% { transform: translateY(0); }
    30% { transform: translateY(-100px); }
    50% { transform: translateY(0); }
    67% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

@keyframes bounce__orange {
    0% { transform: translateY(0); }
    30% { transform: translateY(50px); }
    50% { transform: translateY(0); }
    67% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes bounce__red {
    0% { transform: translateY(0); }
    30% { transform: translateY(100px); }
    50% { transform: translateY(0); }
    67% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}
