.main {
    position: relative;
    overflow: hidden;
    padding-top: 180px;
    padding-bottom: 210px;

    &__background {
        @include backgroundBlurred;
    }

    &__container {
        @include container;
        display: flex;
        align-items: center;
    }

    &__column {
        width: 50%;
    }

    &__link {
        display: block;
        max-width: max-content;
        text-decoration: none;
        margin: 0 auto;
    }

    &__reviews {
        margin-top: 90px;
    }

    &__information {
        display: grid;
        justify-items: start;
        row-gap: 24px;
        position: relative;
        z-index: 100;
    }

    &__slide {
        opacity: 0;

        &_active {
            opacity: 1;
        }
    }

    &__title {
        @include fontTitle;
        display: flex;
        margin: 0;
        font-size: 3em;
    }

    &__parameters {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        column-gap: 10px;
        cursor: pointer;

        &--icon {
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;
            width: 28px;
            height: 28px;
            background-color: $color-red;
            border-radius: 50%;
    
            &::before {
                content: "i";
                display: block;
    
                @include fontTitle();
                font-size: 1.1428em;
                line-height: 1.75;
                color: $color-white;
            }
        }
        
        &--title {
            @include fontTitle();
        }
    }

    &__description {
        @include fontText;
        display: block;
        margin: 0;
        font-size: 1.4285em;
    }

    &__details {
        @include button($color-red);
    }

    &__order {
        @include button($color-orange);
        font-size: 1.125em;
    }
}
