@use "sass:math";

@include responsive($max: $breakpoint-sm) {
    .main {
        &__padding {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &__container {
            padding-left: 15px;
            padding-right: 15px;
        }

        &__column {
            width: 100%;

            padding-left: 0;
            padding-right: 0;
        }

        &__information {
            justify-items: center;
            margin-top: 20px;
        }

        &__title {
            font-size: 2em;
            text-align: center;
        }

        &__description {
            font-size: 1em;
            text-align: center;
        }
    }
}



@include responsive($min: $breakpoint-sm) {
    .main {
        &__padding {
            padding-top: 75px;
            padding-bottom: 90px;
        }

        &__container {
            padding-left: math.div(30px, 2);
            padding-right: math.div(30px, 2);
        }

        &__column {
            width: 50%;

            padding-left: math.div(30px, 2);
            padding-right: math.div(30px, 2);
        }

        &__information {
            justify-items: start;
        }
    }
}



@include responsive($min: $breakpoint-md) {
    .main {
        &__title {
            font-size: 2.66em;
        }

        &__description {
            font-size: 1.2857em;
        }
    }
}



.main {
    position: relative;
    overflow: hidden;

    &__background {
        @include backgroundBlurred;
    }

    &__container {
        @include container($addPadding: false);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__thumbnails {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        &--item {
            display: flex;
            width: 120px;
            height: 90px;
            transition-duration: 300ms;
            cursor: pointer;

            &__active {
                opacity: 0.66;
                cursor: default;
            }
        }

        &--img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__link {
        position: relative;
        display: block;
        max-width: max-content;
        text-decoration: none;
        margin: 0 auto;
    }

    &__reviews {
        margin-top: 90px;
    }

    &__information {
        display: grid;
        row-gap: 24px;
        position: relative;
        z-index: 100;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__title {
        @include fontTitle;
        display: flex;
        margin: 0;
    }

    &__parameters {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        column-gap: 10px;
        cursor: pointer;

        &--icon {
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;
            width: 28px;
            height: 28px;
            background-color: $color-red;
            border-radius: 50%;
    
            &::before {
                content: "i";
                display: block;
    
                @include fontTitle();
                font-size: 1.1428em;
                line-height: 1.75;
                color: $color-white;
            }
        }
        
        &--title {
            @include fontTitle();
            margin: 0;
        }
    }

    &__description {
        @include fontText;
        display: block;
        margin: 0;
    }

    &__details {
        @include button($color-red);
    }

    &__quantity {
        &_absolute {
            position: absolute;
            top: 15%;
            right: 0;
        }
    }

    &__price {
        @include fontTitle;
        font-size: 3.35em;
        line-height: 1;
    }

    &__order {
        @include button($color-orange);
        font-size: 1.125em;
    }
}
