.parameters {
    max-width: 240px;
    @include fontText();
    padding: 5px;
    font-size: 0.8571em;

    &__title {
        font-size: 1.1428em;
        margin: 0 0 5px 0;
    }

    &__list {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5px;
        width: 100%;
        margin-bottom: 10px;
    }
}
