@include responsive($max: $breakpoint-md) {
    .reviews {
        &__header {
            flex-direction: column;
            row-gap: 20px;
        }
        &__title {
            font-size: 2em;
        }
    }  
}



@include responsive($min: $breakpoint-md) {
    .reviews {
        &__header {
            flex-direction: row;
        }
        &__title {
            font-size: 3em;
        }
    }  
}



.reviews {
    @include container();

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    padding-top: 60px;
    padding-bottom: 60px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        display: block;
        margin: 0;

        @include fontTitle();
        text-align: center;
    }

    &__create {
        @include button($color-red);
    }

    &__item {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        row-gap: 20px;
        padding: 30px 20px;
        background-color: $color-gray;
        border-radius: $border-radius;
    }

    &__image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    &__person {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        row-gap: 8px;
    }

    &__name {
        display: block;
        margin: 0;

        @include fontText();
        font-size: 1.2em;
        font-weight: 600;
    }

    &__rating {
        transform: scale(0.8);
    }

    &__text {
        display: block;
        margin: 0;

        @include fontText();
        text-align: center;
    }

    &__link {
        display: flex;
    }

    &__dessert {
        width: 130px;
        height: 190px;
        object-fit: contain;
        object-position: center;
    }

    &__details {
        @include button($color-red);
    }

    &__action {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 15px;
        max-width: 280px;
        width: 100%;
        padding: 30px;
        background: $color-red;
        border-radius: $border-radius;
    
        transition-duration: .15s;

        @include fontTitle();
        cursor: pointer;

        &:hover {
            background-color: darken($color-red, 10);
        }

        &--plus {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-white;
            border-radius: 50%;

            &::before {
                content: "+";
                display: block;
                margin-top: 2px;
                color: $color-red;
                font-size: 2.4em;
                line-height: 0.6;
            }
        }

        &--text {
            margin: 0;
            font-size: 1.1428em;
            text-align: center;
            color: $color-white;
        }
    }
}
