@mixin button($color) {
    -webkit-appearance: none;
    
    display: flex;
    
    margin: 0;
    padding: 12px 24px;
    background-color: $color;
    border-radius: $border-radius;
    border: 0;
    
    transition-duration: .15s;
    
    @include fontTitle;
    color: $color-white;
    font-size: 1em;

    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: darken($color, 15);
    }

    &:active {
        background-color: darken($color, 20);
    }

    &:disabled {
        background-color: lighten($color, 20);
    }
}
