@mixin button($color, $font: 1em) {
    -webkit-appearance: none;
    
    display: flex;
    
    margin: 0;
    padding: 12px 24px;
    background-color: $color;
    border-radius: $border-radius;
    border: 0;
    
    transition-duration: .15s;
    
    @include fontTitle;
    color: $color-white;
    font-size: $font;

    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: darken($color, 15);
    }

    &:active,
    &_active {
        background-color: darken($color, 20);
    }

    &:disabled,
    &_disabled {
        background-color: lighten($color, 20);
        cursor: default;

        &:hover {
            background-color: lighten($color, 20);
        }
    }
}
